<suite name="Suite1" verbose="1">
	<parameter name="ambiente" value="AMBIENTE2"/>
	<parameter name="date" value="2017/10/10"/>
	
	<groups>
		<run>
			<include name="Smoke"/>
			<include name="Regression"/>
		</run>
	</groups>	
	
	<test name="TestSuite">
		<classes>
			<class name="com.globant.training.automation_training_project.TestSuite"/>
		</classes>
	</test>
</suite> 