<suite name="Suite1" verbose="1">
	<parameter name="ambiente" value="AMBIENTE2"/>
	<parameter name="date" value="2017-10-10"/>
	<parameter name="browser"  value="firefox"/>
	
	<groups>
		<run>
			<include name="Smoke"/>
			<include name="Regression"/>
		</run>
	</groups>	
	
	<test name="TestSuite">
		<classes>
			<class name="com.globant.training.automationTrainingProject.TestSuite"/>
		</classes>
	</test>
</suite> 